certifi
charset-normalizer
filelock
fsspec
huggingface-hub
idna
Jinja2
MarkupSafe
mpmath
networkx
numpy
packaging
pandas
pillow
python-dateutil
pytz
PyYAML
regex
requests
safetensors
six
sympy
tokenizers
torch
torchaudio
torchvision
tqdm
transformers==4.40.0
typing_extensions
tzdata
urllib3
